@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{ text-decoration: none;}
h1,h2,h3,h4,h5,h6{
  padding-bottom: 5px; color: #314D4A;font-weight: 700;
}
p{color: #646D6C;}

:root {
  --pink-color: rgb(255, 79, 0);
  --primary-color: #fff;
  --bg-cyan:#0693e3;
  --secodary-color:#000;
  --dard-gray-color:#272933;
  --light-gray-color:#f8f8f8;
}

.container{width:1280px;margin:0 auto;}
.fullwidth-container {width: 100%;margin: auto;}


.simple-items.slick-slider {
  position: relative;
}

.simple-items.slick-slider i.fa-solid {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: #fff;
}


.simple-items.slick-slider .prev-button i.fa-solid {
  left: -25px;
}

.simple-items.slick-slider .next-button i.fa-solid {
  right: -25px;
}

.btn{ padding:15px 22px}
.btn-primary{
  background-color:var(--primary-color);color:var(--btn-primary-color)}

  
  .content-creator-area .btn-primary, .process-content .btn-primary, .service-content .btn-primary, .single-process .process-content .btn-primary {
    background-color:var(--primary-color);
    color:var(--secodary-color);
    padding: 15px 30px;
    border-radius: 0;
    margin: 15px 0;
}

.content-creator-area .btn-primary:hover, .process-content .btn-primary:hover, .service-content .btn-primary:hover, .single-process .process-content .btn-primary:hover {
  background-color: var(--white-color);
  color:var(--inner-text-color);
}
.process-content .btn-primary,  .service-content .btn-primary{
  font-size:20px ;
}

.btn-primary {
  background-color:var(--primary-color);
  color:var(--secodary-color);
  padding: 15px 30px;
  border-radius: 0;
  margin: 15px 0;
}
.btn-primary:hover{
background-color: var(--white-color);
color:var(--inner-text-color);
}
img{
  max-width: 100%;
  width: auto;
}
body{
  font-family: 'DM Sans', sans-serif;
}

.bg-color{
  background-color: var(--primary-color);
}
.grid{display: grid;}
.align-center{justify-content: center;}
.align-right{justify-content: end;}
.align-left{justify-content: start;}
.align-item-top{align-items: start;}
.align-item-middle{align-items:center;}
.align-item-bottom{align-items: end;}
.space-between{justify-content: space-between;}
.text-wrap{text-wrap: wrap;}
.text-center{text-align: center;}

.section-title {margin: 40px 0;}

.margin-both{margin:0 -20px}

.header-message {
  color: var(--primary-color);
  background-color: var(--secodary-color);
  vertical-align: middle;
  height: 38px;
  position: fixed;
  width: 100%;
  margin: 0 -12px;
  transition: .4s;
}

.header-message:hover {background-color:var(--pink-color)}

.header-message p {
  font-size: 17px;
  line-height: 32px;
  color: var(--white-color);
}

.header-message p i.fa-solid {
  font-size: 14px;
}

#navbarText .btn-schedule, .content-creator-area .btn-schedule,.chatgpt-right .btn-schedule, .single-status .btn-schedule, .process-content .btn-schedule  {
  background-color: var(--pink-color);
  color: var(--primary-color);
  padding: 12px 26px;
  border: 1px solid;
  border-radius: 30px;
  margin-top: -10px;
  font-weight: 500;
  transition: .4s;
}

#navbarText .btn-schedule:hover, .content-creator-area .btn-schedule:hover,.chatgpt-right .btn-schedule:hover, .single-status .btn-schedule:hover, .process-content .btn-schedule:hover {
  background-color: var(--secodary-color);
  border: 1px solid;
  color: var(--primary-color);
}
.chatgpt-area .chatgpt-left span { color: red;font-style: italic;}

.chatgpt-area .chatgpt-right {text-align: right;}

.logo{
  grid-column: 1;
  grid-row: 1;
}
.logo a {
  font-size: 35px;
  color:var(--dard-gray-color);
  font-weight: 700;
  line-height: 10px;
  text-decoration: none;
}

.logo a span {
  color: #555;
  font-size: 15px;
}

.header-top {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: start;
}

.navbar-nav {
  grid-column: 3 / span 3;
  grid-row: 1;
}

.navbar-nav li {
  list-style: none;
  gap: 25px;
}

.navbar-nav li a {
  font-size: 16px;
  line-height: 28px;
  color: var(--secodary-color);
  font-weight: 700;
  padding: 0 20px;
  text-decoration: none;
}
.navbar-nav li:hover a,.navbar-nav li a.active {
  color:var(--pink-color);
}

.navbar-nav li .icon {
    display: none;
}


.section-title h1 {
  font-size: 35px;
  color:var(--secodary-color);
}
.section-title p {
  font-size: 20px;
  color:var(--dard-gray-color);
  text-transform: uppercase;
}


/* Creator area start */

.content-creator-area {
  margin: 0 20px 70px;
}

.content-creator-area, .content-creator-area p {
  color:var(--white-color);
}

.content-creator-area .btn-schedule {
  display: block;
  margin: 30px auto 10px;
}
.content-creator-area p {
  width: 70%;
  margin: 0 auto;
}
.content-creator-area h5 {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 20px;
}

.content-creator-area h1 {
  font-size: 60px;
  font-weight: 500;
}

.content-creators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
.creator-bg img{ 
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

}

.creator-pic1{ background-image: url(../img/ceo.jpg);}
.creator-pic2{ background-image: url(../img/bus1.jpg);}
.creator-pic3{ background-image: url(../img/bus1.jpg);}
.creator-pic4{ background-image: url(../img/sumi.jpg);}

.content-creator-area h4 span {
  color:var(--primary-color);
}

/* Creator area end */



/* Video clips */


.simple-work ul.slick-dots li button {
  background-color: var(--light-gray-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.simple-work ul.slick-dots li:hover button, .simple-work ul.slick-dots li.slick-active button {
  background-color:var(--primary-color);
}

.simple-items.slick-slider .prev-button i.fa-solid, .simple-items.slick-slider .next-button i.fa-solid  {
  visibility:hiden;
  opacity: 0;
  transition: .4s;
}

.simple-items.slick-slider:hover .prev-button i.fa-solid, .simple-items.slick-slider:hover .next-button i.fa-solid {
  opacity: 1;
  visibility:visible;
}

.guideline-video-area {
  margin: 70px 0;
}

.guideline-video-area h5 {
  color: var(--white-color);
}
.guideline-video-area h5 i {
  color:var(--primary-color);
  padding-left: 10px;
}

.wiza-video-clip {
  position: relative;
  height: 605px;
}
.wiza-video-clip:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url(../img/video-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
iframe.video-bg {
  width: 100%;
  padding: 5% 5% 0;
  height: 100%;
}

.wiza-video-clip .btn-video {
  background-color:var(--primary-color);
  color: var(--inner-text-color);
  position: absolute;
  bottom: -41px;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 0;
}

.wiza-video-clip .btn-video:hover {
  background-color:var(--white-color);
}




/* Our clients start  */

.clientlistarea {
  position: relative;
  top: 0;
  left: 0;
  height: 120px;
  width: 99.9%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  padding: 10px 0;
  margin-top: -80px;
  z-index: -1;
}



.clientlistarea:before{  left: -30px; }
.clientlistarea:after { right: -30px; }
.clientlistarea:before, .clientlistarea:after {
  position: absolute;
  top: -25px; 
  width: 300px;
  height: 222px;
  content: "";
  background-color:var(--primary-color);
  z-index: 99;
  filter: blur(20px);
}

ul.item-list li img {
  width: 160px;
}

ul.client-list {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

li.listitem {
  float: left;
  padding: 20px 15px;
  position: relative;
}


/* Chartgpt start  */

.chatgpt-area { margin: 90px 0 10px;}

.chatgpt-area:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}


/* Video speed start */

.single-speed-value {
  background-color:var(--dard-gray-color);
  padding: 55px 0 10px;
  text-align: center;
  width: 25%;
}

.speed-value {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}

.single-speed-value h1 {
  font-size: 54px;
  font-weight: 500;
  color:var(--primary-color);
}

.single-speed-value h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--white-color);
}


/* Company status start*/

.graph-img {background-color: var(--primary-color);height: 100%;display: flex;align-items: center;justify-content: center;margin: 0;}
.graph-img img {
  max-height: 85%x;
}

.company-status , .our-process {
  margin: 70px 0;
}
.single-status {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.graph-content h5 {
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 20px 0;
    font-weight: 500;
    color:var(--white-color);
}

.graph-content h1 {
  font-size: 32px;
  font-weight: 500;
  color: var(--secodary-color);
  margin-bottom: 20px;
}

.graph-content p {
  color: var(--dard-gray-color);
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.single-graph-value h1 {
    color: var(--secodary-color);
    font-weight: 600;
    margin-bottom: 0;
}

.single-graph-value h4 {
    color: var(--secodary-color);
}

.graph-value {
    display: flex;
    gap: 90px;
    margin-top: 70px;
}

.graph-content {
    padding: 40px;
    margin-left: -24px;
}

.single-status .btn-schedule {
  margin-top: 20px;
  padding: 12px 40px;
}

/* Our Process / service / testimonial start  */

.rating {
  margin-bottom: 20px;
}

.process-content, .single-service-item, .single-testimonial {
  padding: 40px;
  margin-left: -24px;
  margin-bottom: 20px;
}

.single-process {
  background-color: #f8f8f8;
  margin: 20px 0;
  padding: 0 35px;
}

.service-item-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.services-area {
  margin: 90px 0 30px;
}

.service-content{  
  margin-right: 30px;
  margin-bottom: 20px;
}

.process-content .btn-schedule {
  margin-top: 30px;
}

.process-content h3, .service-content h3, .single-service-item h3, .rating i {
  color: var(--pink-color);
  font-weight: 500;
}
.service-content h3 {
  font-size: 20px ;
}

.process-content h2, .service-content h2, .single-service-item h2, .single-testimonial h2 {
  color:var(--secodary-color);
  font-size:24px;
}
.single-testimonial h4 {
  color:var(--white-color);
  font-size:18px;
  margin-bottom: -2px;
}

.single-testimonial h5 {
  color: white;
  font-size: 16px;
}

.single-testimonial {
  height: 420px;
  margin: 0 5px;
  position: relative;
}

.testimonial-owner {
  border-top: 1px solid #3c3e4b;
  padding: 17px 0;
  position: absolute;
  width: 80%;
  bottom: 0;
}

.single-testimonial h5 {
    color: white;
    font-size: 16px;
}
.service-content h2 {  
  font-size:36px;
}

.process-content p, .service-content p, .single-service-item p, .single-testimonial p {
  color:var(--dard-gray-color);
  font-size: 18px;
}

.process-content h5, .service-content h5 {
  color:var(--dard-gray-color);
  font-size: 18px;
}




/* FAQ start */


.faq-single-item .btn-collapsible {
  width: 100%;
  background-color:var(--light-gray-color);
  color:var(--white-color);
  text-align: left;
  border-radius: 0;
  padding: 20px;
  font-size: 20px;
  border: none;
  margin: 0;
}

.faq-single-item .multi-collapse {
  margin-top: -20px;
}

.faq-single-item .btn.active, .faq-single-item .btn-collapsible:hover{
  background-color: var(--white-color);
  color: var(--main-backgroud-color);
}

.faq-single-item .card {
  border-radius: 0;
}

.faq-single-item {
  margin-bottom: 10px;
}

.service-owner img {
  width: 90%;
  height: auto;
  border-radius: 50%;
}

.service-owner {
  margin: 20px 0;
}
.service-content h4,
.service-owner h4,
.single-point h4 {
  color: var(--white-color);
}

.service-info {
  background-color: white;
  padding: 15px;
  overflow-y: scroll;
  max-height: 540px;
  position: relative;
}

.ribon span {
  font-size: 12px;
  display: block;
  line-height: 8px;
}

.ribon {
  position: absolute;
  top: 20px;
  right: -42px;
  background-color: #555;
  padding: 5px;
  height: 43px;
  width: 160px;
  text-align: center;
  transform: rotate(45deg);
}

.ribon p {
  color: #fff;
  padding-top: 3px;
}

.service-info a {
  text-decoration: none;
}

.service-info h3 {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding-left: 38px;
}

.single-service-info {
  position: relative;
  padding: 25px 10px;
  border-top: 1px solid #ddd;
}

/* Offer area  */

.offer-area {
  background-color: #f8f8f8;
  padding: 55px 0;
}

.offer-area span {
  color: red;
}

.offer-area h1 {
  font-size: 50px;
}
.offer-area .btn-offer {
  background-color: var(--pink-color);
  color: var(--primary-color);
  padding: 60px 64px;
  border: 1px solid;
  border-radius: 30px;
  margin-top: -10px;
  font-weight: 500;
  transition: .4s;
  font-size: 30px;
}
.savetime-area button i {
  transform: rotate(45deg);
}
.savetime-right {
  margin-top: 40px;
}

.offer-area .btn-offer:hover {
  background-color: var(--secodary-color);
  border: 1px solid;
  color: var(--primary-color);
}
.chatgpt-area .chatgpt-left span { color: red;font-style: italic;}

.chatgpt-area .chatgpt-right {text-align: right;}





.ssi-bg:before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 25px;
  content: "";
  border-radius: 50%;
}

.ssi-bg1:before{background-color:rgb(74, 145, 233);}
.ssi-bg2:before{background-color: rgb(223, 193, 45);}
.ssi-bg3:before{background-color: rgb(137, 137, 252);}
.ssi-bg4:before{background-color:  rgb(12, 192, 215);}

.single-service-info:hover {
  background-color: #eee;
}

.pannel-title,.btn.btn-collapsible.active {
  position: relative;
}
.pannel-title:after {
  position: absolute;
  top: 0px;
  right: 16px;
  content: "+";
  color: var(--white-color);
  font-size: 37px;
  transition: .4s;
}
/* button.btn.btn-collapsible.active:after {
  color: black;
  position: absolute;
  top: 0;
  right: 16px;
  color:var(--main-backgroud-color);
  z-index: 1;
  rotate: 45deg;
} */
.btn.btn-collapsible.active:before {
  position: absolute;
  top: 0;
  right: 16px;
  content: "+";
  font-size: 37px;
  color:var(--main-backgroud-color);
  rotate: 45deg;
  z-index: 1;
}
.pannel-title:hover:after{color: var(--main-backgroud-color);rotate: 45deg;}
/* button.btn.btn-collapsible:hover.active:after{color: var(--main-backgroud-color);rotate: 45deg;} */


/* main body area start */

.main-body-area {
  margin-top: 75px;
  grid-column-gap: 20px;
}
.main-body {
    margin-right: 5%;
}

.products {
  grid-column: 1 / span 2;
  grid-row: auto;
}

.sidebar-right {
  grid-column: 3;
}

.products.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 45px;
  margin-bottom: 70px;
  margin-right: 40px;
}
.main-body.content-header h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}

.main-body.content-header h1:after {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #e1e1e1;
}

.single-product {
    background-color: rgba(52, 114, 72, .15);
    height: 480px;
    margin-bottom: 30px;
}
.single-product .inner-content {
  margin: 20px;
}
.single-product h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
  line-height: 24px;
}

.single-recent-post, .single-popular-post{
  margin-bottom: 10px;
}
.single-recent-post img,.single-popular-post img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.single-recent-post a, .single-popular-post a {
  font-size: 15px;
  line-height: 24px;
  color: #3C7D36;
}

.single-recent-post p,.single-popular-post p  {
  font-size: 18px;
  color: #3A3A3A;
  line-height: 24px;
}

.sidebar-right h1 {
  font-size: 24px;
  color: #314D4A;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 20px;
}

.recent-post {
  margin-bottom: 20px;
  margin-top: 7px;
}


/* Popular Training  carousel */


.populter-training {
  background-color: rgba(52, 114, 72, .15);
  padding: 60px 0;
  margin: 0 -15px;
}


.popular-training-items {
  display: grid;
  grid-column-gap: 30px;
  margin: 35px 0;
  grid-auto-flow: column;
  justify-content: center;
}
.pt-bg {
  background-image: url(../img/cse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.pt-bg1 { background-image: url(../img/cse.jpg);}
.pt-bg2 { background-image: url(../img/physics.jpg);}
.pt-bg3 { background-image: url(../img/english.jpg);}
.pt-bg4 { background-image: url(../img/music.jpg);}
.pt-bg5 { background-image: url(../img/fashion-design.jpg);}
.pt-bg6 { background-image: url(../img/fine-art.jpg);}
.pt-bg7 { background-image: url(../img/mba.jpg);}
.pt-bg8 { background-image: url(../img/bss.jpg);}


.client-pic {
  background-image: url(../img/sumi.jpg);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.client-pic2 { background-image: url(../img/ceo.jpg);}
.client-pic3 { background-image: url(../img/bus1.jpg);}
.client-pic4 { background-image: url(../img/bus1.jpg);}
.client-pic5 { background-image: url(../img/sumi.jpg);}



/*Scrolling animation*/

#marquee {
  width: 100%;
}
#marquee .animated-img-list {
  display: flex;
  animation: marquee 10s infinite linear;
  align-items: center;
  gap: 10px;
}
#marquee .animated-img-list .single-img {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  aspect-ratio: 12 / 9;
  width: 100%;
}
#marquee .animated-img-list .single-img img {
  width: auto;
  height: 100%;
}

@keyframes marquee{
 0% { transform:  translatex(0); }
  100% {  transform:  translatex(10vw); } 

}
#marquee2 {
  width: 100%;
  margin-top: 10px;
}
#marquee2 .animated-img-list {
  display: flex;
  animation: marquee 10s infinite linear;
  animation-direction: reverse;  
  align-items: center;
  gap: 10px;
}
#marquee2 .animated-img-list .single-img {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  aspect-ratio: 12 / 9;
  width: 100%;
}
#marquee2 .animated-img-list .single-img img {
  width: auto;
  height: 100%;
}

@keyframes marquee2{
 0% { transform:  translatex(0); }
  100% {  transform:  translatex(10vw); } 

}


.faq-single-item p {
  padding-right: 20px;
}

/* Testimonial */


.testimonial-area{
  margin: 70px 0;
}
.single-testimonial {
  height: 382px;
  background-color: #f8f8f8;
}

.aroma-testimonial {
  width: 60%;
  margin: 0 auto;
}

.aroma-testimonial h5, .aroma-testimonial h5 span{
  color: var(--white-color);

}
.aroma-testimonial p{
  color: var(--light-gray-color);
}

.testimonial-area .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff;
}

.aroma-testimonial.carousel-inner {
  height: 280px;
}

.aroma-testimonial .carousel-caption {
  position: absolute;
  top: 90px;
}

.aroma-testimonial.carousel-inner .carousel-item img {
  width: 7%;
  border-radius: 50%;
  margin: 0 auto;
}


.dark-bg {
    background-color: #83a780;
}

.footer-bottom {
    padding: 25px 0;
}

.footer-social {
    flex-basis: 27%;
    margin-right: 30px;
}
.platform,.compare,.company,.get-help {
    flex-basis: 17%;
}

.footer-top {
  background-color: #5555;
  color: white;
  padding: 70px 0;
}

.footer-top h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-top h2 {
  font-size: 42px;
  font-weight: 700;
  
}

.footer-top h1 span {
  color: var(--secodary-color);
}

.footer-top p,.footer-bottom p, .social-icon p i {
  font-size: 18px;
  color: var(--secodary-color);
}

.footer-middle {
  background-color: var(--secodary-color);
  padding: 55px 0;
}

.footer-middle a {
  font-size: 22px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  color: var(--secodary-color);
  padding: 60px 0;
  align-items: center;
}

.footer-bottom p i {
  font-size: 22px;
  padding: 0 10px;
}

/* Admission form */

.admission-area, .user-info-area {
  width: 60%;
  margin: 0 20%;
}

.col-4 {
  width: 100%;
}

.col-6 {width: 100%;}

.col-12 {
  width: 100%;
}

.form-row {
  grid-template-columns: auto auto auto;
  gap: 35px;
}
input[type="text"] {
  width: 100%;
  padding: 5px 10px;
}

.form-col-2 {
  grid-template-columns: auto auto;
  gap: 35px;
}

form select, form textarea {
  width: 100%;
  padding: 5px 10px;
}

.user-info-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid #d1d1d1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom:25px;
}

.user-info-row .form-data {width: 200px;font-weight: 700;}
.user-info-row .single-data p {
  color: #000;
}
.user-info-row .single-data {
  width: 40%;
}
.user-info-row .single-data-full {
  width: 100%;
}

.user-info h2 {
  font-size: 18px;
  padding: 0;
  margin: 20px 0 5px;
}

form label {
  margin: 0;
  padding: 20px 0;
}

.form-col-2 {
  margin: 15px 0;
}

form .btn-primery {
  padding: 10px 45px;
  margin-top: 20px;
}

.admission-area h1 , .user-info-area h1{
  position: relative;
  margin-bottom: 25px;
}

.admission-area h1:after, .user-info-area h1:after {
  position: absolute;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #999;
  bottom: 0;
  left: 0;
}



@media only screen and (max-width: 600px) {
  /* For tablets: */

  button.navbar-toggler.collapsed span {
    background-color: #555;
}

.header-top .navbar-toggler span {
  background-color:var(--secodary-color);
}

.navbar-nav li a {
  color: #fff;
}
.section-title p {  font-size: 16px;}

.chatgpt-area h1 {
  font-size: 17px;
}
.chatgpt-area {
  margin: -2px 0 10px;
  width: 90%;
  margin-left: 5%;
}
.chatgpt-area .btn-schedule {
  display: block;
  margin: 0 auto;
}

.chatgpt-area h5 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.offer-area h1 {
  font-size: 24px;
}
.offer-area .btn-offer {
   padding: 19px 15px;
  font-size: 28px;
  margin-left: 12px;
}

.service-content {
  margin-left: -18px;
}
.service-content {
  margin-right: 0px;
}


.single-testimonial {
  height: 344px;
}

.clientlistarea:before, .clientlistarea:after{ display: none; }





.container {
    width: 100%;
    margin: 0 auto;
}

.header-top {
  display: block;
}
  .logo {
    display: grid;
    justify-content: center;
}

.logo a {
  margin-left: -30px;
  margin-bottom: 20px;
  line-height: 18px;

}

.header-top .navbar-toggler {
  display: block;
  width: 100%;
  margin-bottom: 53px;
  text-align: right;
  margin-top: -43px;
  font-size: 25px;
}

.header-top .navbar-collapse {
  background-color: #333;
  padding: 20px;
  text-align: center;
  transition: all .4s;
  margin-top: -40px;
}

.header-top span.navbar-text {
  padding-top: 20px;
  display: block;
}

.header-top {
  text-align: center;
}

.header-top .navbar-collapse ul li {
  margin: 2px;
  padding: 5px 0;
  background-color: #000;
}

.header-top .navbar-collapse ul li:hover {
  background-color: #999;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
}
.navbar-nav li a {
  font-size: 14px;
  line-height: 28px;
  padding: 0 8px;
}

.header-top .btn-schedule {
  margin: 15px auto;
  display: block;
}
.header-top {
  padding: 62px 0 20px;
}
.guideline-video-area {
  width: 85%;
  margin-left: 5%;
}

.guideline-video-area h5 {
  font-size: 16px;
}

.speed-value {  
  gap: 15px;
  margin: 10px 0;
}

.single-speed-value h1 {
  font-size: 28px;
}

.single-speed-value h3 {
  font-size: 14px;
}
.services-area {margin: 25px;}
.service-content {
  padding: 0 10px;
  margin-left: -29px;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-caption {right: 5%;left: 5%;}

.footer-bottom {flex-wrap: wrap;text-align: center;}

.service-owner img { width: 50%; margin-bottom: 20px;}

.service-content h2 { font-size: 26px;}
.process-content p, .service-content p, .single-service-item p, .single-testimonial p {
  font-size: 15px;
}
.process-content, .single-service-item, .single-testimonial {
  padding: 18px;
  margin-left: -20px;
  margin-bottom: 16px;
 
}

.content-creator-area .btn-primary, .process-content .btn-primary, .service-content .btn-primary {
 padding: 10px 50px; margin: 15px 0;
}

.graph-content h1 { font-size: 18px;}
.graph-img img {
  max-height: 202px;
  margin-left: 28px;
}
.single-status .btn-schedule {
  padding: 12px 40px;
  margin: 0 auto;
  display: block;
}

.clientlistarea { 
  top: 15px;
  height: 200px;

}

.single-status { width: 95%; margin-left: 5%;}

.graph-img { width: 79%;}

.graph-content {
  padding: 30px;
  margin-left: -24px;
}

#marquee, #marquee2 { width: 500%;}

#marquee .animated-img-list, #marquee2 .animated-img-list {
  gap: 5px;
}
#marquee2 { margin-top: 5px;}

.section-title {margin: 10px 0;}


.section-title h1 {font-size: 25px; color: var(--white-color);}

.content-creator-area h1 { font-size: 30px;}
.content-creator-area p { width: 95%;}

.our-process {
  width: 100%;
  margin-left: 0%;
}

.process-content, .single-service-item, .single-testimonial {
  padding: 18px;margin-left: 0px; margin-bottom: 16px;}
  .process-content h5, .service-content h5 {font-size: 16px;}

  .process-content h2, .service-content h2, .single-service-item h2, .single-testimonial h2 {
    font-size: 18px;
}
.content-creator-area .btn-primary, .process-content .btn-primary, .service-content .btn-primary {
  width: 100%;
}
.testimonial-area {margin-left: 5%; width: 90%;}


.hero-area { height: 250px;}
.hero-bg { background-size: 100%;
}
.hero-area:after {
  position: absolute;
  left: 0;
  top: 197px;
  width: 100%;
  content: "";
  background-color: #3C7D36;
  height: 107px;
}

.main-body.content-header h1 {
  font-size: 28px;
  text-align: center;
  margin-left: 20px;
}

.hero-content {
  height: 90px;
  padding: 10px;
  top: 50%;
  left: 53%;
  width: 89%;
  margin-left: -50%;
}
.hero-content h1 {
  font-size: 16px;
  text-align: center;
  padding: 10px 0 0;
}
.hero-content p {
  font-size: 13px;
  line-height: 15px;
  padding: 0 10px;
  text-align: center;
}

.hero-container .carousel-indicators { bottom: -13px; 
}
.main-body-area { margin-top: 50px;}
.main-body-area.grid { display: block;margin-top: 90px;}
.products.grid {
  display: grid;
  grid-template-columns: auto;
  padding: 15px;
  gap: 25px;
  margin-right: 5px;
  margin-bottom: 0;
}

.main-body-area { margin-top: 50px;}
.single-product { margin: 10px 10px; width: 100%;}
.single-product img { width: 100%;}
.single-product h3 { font-size: 18px;  margin-top: 15px;}
.recent-post.grid,.popular-post.grid { padding: 10px 30px;}
.single-recent-post img, .single-popular-post img {  width: 35%;}

.single-recent-post p, .single-popular-post p {font-size: 16px;color: #3A3A3A;}
.sidebar-right { width: 95%;}
.footer-top {  padding: 15px 0;}
.footer-top { width: 90%; margin-left: 5%;}
.footer-top h1 { font-size: 30px;}
.footer-middle { padding: 18px 0;}
.footer-middle a { font-size: 18px;}
.footer-top.grid { gap: 5%;}
.contact-ad { grid-column: 1 / span 2;  grid-row: 1; width: 290px;}
.aboutus { grid-column: 1 /span 3; grid-row: 2;}
.followus { grid-column: 1 / span 3; grid-row: 3;}
.product {
  grid-column: 1 / span 2;
  grid-row: 4;
  margin-bottom: 88px;
}

ul.footer-menu li {
  line-height: 10px;
  display: inline-block;
  padding: 10px;
}

/* Testimonial */

.aroma-testimonial.carousel-inner .carousel-item img {
  width: 25%;
}

.aroma-testimonial.carousel-inner {
  height: 375px;
}



/* admission form */

.admission-area {
  width: 80%;
  margin: 0 10%;
}

.col-4, .col-6 , .col-12  {
  width: 100%;
}

.form-row, .form-col-2 {
  grid-template-columns: auto;
  gap: 18px;
}
form .btn-primery {
  width: 100%;
}

/* Mobile nav menu */

.mobile-nav-toggle{
  position: fixed;
  top: 20px;
  right:20px;
  z-index: 999;
  font-size: 24px;
  transition: all 0.4s;
  outline: bone !important;
  line-height: 1;
  cursor: pointer;
  text-align:right;
}
.mobile-nav-toggle i {
  color: #999;
}
.mobile-nav{
  position: fixed;
  top: 55px; 
  right: 20px;
  bottom: 20px;
  z-index: 999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

/* Admission form output */

.admission-area, .user-info-area {
  width: 80%;
  margin: 0 10%;
}
.user-info-row {
  gap: 0px;  
  padding: 10px;  
  margin-bottom: 18px;
}

.user-info-row .single-data {
  width: 100%;
  padding: 5px;
}

.newsletter-area h1 {
  font-size: 30px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.newsletter-area h4 {
  text-align: center;
  width: 100%;
}

.width-half {
  width: 100%;
}
.margin-right {
  text-align: center;
}

.newsletter-area .btn {
  margin: 20px 0;
}
.newsletter-area:after {
  height: 650px;
}






}






